<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>事故暴露程度</title>
    <!-- 引入样式文件 -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/vant@2.6/lib/index.css"
    />
    <style>
        .wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        .block {
            display: flex;
            justify-content: center; /* 水平居中 */
            align-items: center;     /* 垂直居中 */
            width: 120px;
            height: 120px;
            background-color: #fff;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <div id="app">
        <div>
            <van-sticky>
                <van-nav-bar
                        title="事故暴露程度"
                />
            </van-sticky>
        </div>

        <div>
            <van-form @submit="onSubmit">
            <!--<van-field
                    readonly
                    clickable
                    name="picker"
                    :value="value"
                    label="每班从业人数"
                    placeholder="请选择"
                    :rules="[{ required: true, message: '请选择' }]"
                    @click="showPicker = true"
            ></van-field>
            <van-popup v-model="showPicker" position="bottom">
                <van-picker
                        show-toolbar
                        :columns="columns"
                        @confirm="onConfirm"
                        @cancel="showPicker = false"

                />
            </van-popup>-->
                <van-field name="standardizationradio" label="每班从业人数" >
                    <template #input>
                        <van-radio-group v-model=" employeesradio" direction="vertical">
                            <van-radio name="≥300">≥300</van-radio>
                            <van-radio name="100～300">100～300</van-radio>
                            <van-radio name="30～100">30～100</van-radio>
                            <van-radio name="<30"><30</van-radio>
                        </van-radio-group>
                    </template>
                </van-field>
                <van-field
                        v-model="employeeNumber"
                        name="每班从业人数"
                        label="每班从业人数"
                        placeholder="每班从业人数"
                >
                </van-field>
                <van-field label="从业人数分值" placeholder="从业人数选中总分值" v-model="employeesscore" readonly ></van-field>
            <div><van-divider /></div>
            <!-- 提交表单按钮-->
            <div style="margin: 16px;">
                <van-button round block type="info" native-type="submit" >
                    提交
                </van-button>
            </div>
            </van-form>
        </div>
        <van-overlay :show="show" @click="show = false">
            <div class="wrapper" @click.stop>
                <div class="block">
                    <div>
                <van-loading type="spinner" color="#1989fa" />

                    <div>上传中</div>
                    </div>
                </div>
            </div>
        </van-overlay>
    </div>
</body>
<!-- 引入 Vue 和 Vant 的 JS 文件 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.6/lib/vant.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            employeesradio: '',

            show: false,
            scoredata: '',
            employeesscore: '',

            prescore: '',
            quencesscore: '',

            therisklevel: '',
            risklevel: '',

            employeeNumber: '',

        },

        mounted(){
            // 获取上一页分数
            var myscore = new Object();
            myscore = getUrlParam();
            this.prescore = Number(myscore['score']);
            this.quencesscore = Number(myscore['quencesscore'])
            console.log(this.prescore)

            function getUrlParam() {
                var url = location.search; //获取url中"?"符后的字符串包括‘？’ ，window.location.href获取的是url完整的字符串
                var theParam = new Object();
                if (url.indexOf("?") != -1) { //确保‘？’不是最后一个字符串，即携带的参数不为空
                    var str = url.substr(1); //substr是字符串的用法之一，抽取指定字符的数目，这里抽取？后的所有字符
                    strs = str.split("&"); //将获取到的字符串从&分割，输出参数数组，即输出[参数1=xx,参数2=xx,参数3=xx,...]的数组形式
                    for(var i = 0; i < strs.length; i ++) { //遍历参数数组
                        theParam[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]); //这里意思是抽取每个参数等号后面的值，unescape是解码的意思
                    }
                }
                return theParam; //返回参数值
            }

            axios({
                url: '/get/all/score',
                mtthods: 'get',
            }).then(function (response) {
                if (response.data.result=='SUCCESS'){
                    vm.scoredata = response.data.data
                }
            })

        },
        watch: {
            employeesradio: function(val){
                this.scoredata.forEach((item) => {
                    if (item.name == val) {
                        vm.employeesscore = item.score;

                    }
                })
            }
        },
        methods: {

            onConfirm(value) {
                this.value = value;
                this.showPicker = false;
            },
            onSubmit(values) {
                // 判断是否有选项未选中
                if(this.employeesradio == '' || this.employeeNumber == ''){
                    vant.Dialog.alert({
                        message: '请检查是否有选项未选或每班从业人数值未填写！选择后在提交!',
                    }).then(() => {
                        // on close
                    });
                    return false;
                }
                this.show = true
                var employees ={"categoryId": "3","influenceFactorId":"10","determineFactor":this.employeesradio,"photo":'',"remark": this.employeeNumber}
                // 风险等级评估
                this.risklevel = this.quencesscore*this.prescore*this.employeesscore;
                console.log(this.risklevel)
                if(vm.risklevel>=1000){
                    this.therisklevel="重大危险".fontcolor("#FF0000");
                }
                if(1000>vm.risklevel&&vm.risklevel>=720){
                    this.therisklevel="较大风险".fontcolor("#FF6600");
                }
                if(720>vm.risklevel&&vm.risklevel>=500){
                    this.therisklevel="一般风险".fontcolor("#FFD700");
                }
                if(500>vm.risklevel&&vm.risklevel>=300){
                    this.therisklevel="较低风险".fontcolor("#1E90FF");
                }
                if(300>vm.risklevel){
                    this.therisklevel="无风险".fontcolor("#008000");
                }

                vant.Dialog.alert({
                    title: '风险评估总分',
                    message:
                        "事故后果："+ this.quencesscore+ "\n"+
                        "事故可能性：" + this.prescore+ "\n"+
                        "事故暴露程度："+this.employeesscore+"\n"+
                            "\n"+
                        "事故风险值：" +  this.risklevel+ "\n"+
                        "风险等级："+ this.therisklevel
                }).then(() => {
                    // on close

                axios({
                    url: "/save/employees",
                    method: "post",
                    data: employees
                }).then(function(response){
                    //vant.Toast.success('录入成功',window.location.href="http://localhost:8080/home.html");
                    if (response.result="SUCCESS"){
                        window.location.href="http://localhost:8080/home.html";
                    }

                }).catch(function(response){
                    if(response.result="FAILED") {
                        //vant.Toast.fail('录入失败，请重新录入',window.location.href = "http://localhost:8080/thenumberofemployees.html");
                        window.location.href = "http://localhost:8080/thenumberofemployees.html";
                    }
                })
                });
            },
        },
    });
</script>
</html>
